api/src/main/resources/schema/studentExams.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="studentExam" type="studentExamType"/>

	<xs:complexType name="studentExamType">
		<xs:sequence>
			<xs:element type="drillsType" name="drills"/>
		</xs:sequence>
		<xs:attribute type="uuid" name="id"/>
	</xs:complexType>

	<xs:complexType name="drillsType">
		<xs:sequence>
			<xs:element type="drillType" name="drill"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="drillType">
		<xs:sequence>
			<xs:element type="questionsType" name="questions"/>
		</xs:sequence>
		<xs:attribute type="uuid" name="id"/>
	</xs:complexType>

	<xs:complexType name="questionsType">
		<xs:sequence>
			<xs:element type="questionType" name="question"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="questionType">
		<xs:sequence>
			<xs:element type="xs:int" name="correct"/>
			<xs:element type="xs:int" name="wrong"/>
		</xs:sequence>
		<xs:attribute type="uuid" name="id"/>
	</xs:complexType>

	<xs:simpleType name="uuid">
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
