api/src/main/resources/schema/students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="students" type="studentsType"/>

	<xs:complexType name="studentsType">
		<xs:sequence>
			<xs:element type="studentType" name="student"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="studentType">
		<xs:sequence>
			<xs:element type="ucoType" name="uco"/>
			<xs:element type="emailType" name="email"/>
			<xs:element type="xs:string" name="passwordHash"/>
		</xs:sequence>
		<xs:attribute type="uuid" name="id"/>
	</xs:complexType>

	<xs:simpleType name="uuid">
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ucoType">
		<xs:restriction base="xs:int">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="emailType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="254"/>
			<xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9](\.?[\-a-zA-Z0-9]*[a-zA-Z0-9])*"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
